
@{
    ViewBag.Title = "ThanhToanTrucTuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanh toán trực tuyến</h2>



<h3> 1/ Thanh toán chuyển khoản qua tài khoản ngân hàng: </h3>

<h3> - STK tại CN D10, Xã Bình Chánh, Huyện Bình Chánh, TP.HCM – Huỳnh Đỗ Minh Cường: xxx0123456789 | Vietcombank-PGD SÀI GÒN </h3>

    <div class="panel-body">
        <p>
            <img src="~/Content/images/LogoVietcombank.png" alt="hinh thumnail" style="width: 40%">
        </p>
    </div>


<h3> 2/ Thanh toán bằng ví điện tử MOMO qua đường link: https://me.momo.vn/pwI4Tzsqfjtduks5tvsZfa (hoặc quét mã QR Code) </h3>

    <div class="panel-body">
        <p>
            <img src="~/Content/images/QRcodeMomo.png" alt="hinh thumnail" style="width: 30%">
        </p>
    </div>

<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>


