
@{
    ViewBag.Title = "ThongBaoDangKyThatBai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng ký thất bại, tài khoản bị trùng!</h2>

<h3>Vui lòng đăng ký lại!</h3>
<p>
    @Html.ActionLink("Quay lại đăng ký", "DangKy", "NguoiDung")
</p>