
@{
    ViewBag.Title = "ThongBaoDangKyThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng ký thành công!</h2>

<h3></h3>
<p>
    @Html.ActionLink("Quay lại trang chủ", "Index", "Home")
</p>