
@{
    ViewBag.Title = "ThongBaoDangNhapThatBai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng nhập thất bại, tài khoản hoặc mật khẩu không đúng!</h2>

<h3>Vui lòng đăng nhập lại!</h3>
<p>
    @Html.ActionLink("Quay lại đăng nhập", "DangNhap", "NguoiDung")
</p>